.content {
  line-height: 1.5;

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.content-block {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;

  .screen-x-small & {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer
  > .dx-scrollable-wrapper
  > .dx-scrollable-container
  > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

#app {
  height: 100%;
}

$side-panel-min-width: 60px;
.dx-popup-wrapper > .dx-overlay-content {
  opacity: 1 !important;
  padding: 0 15px;
}

.offline .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: gray;
}

.normal .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: green;
}

.pause .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: orange;
}

.error .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: red;
}
.offline a {
  color: gray;
}
.normal a {
  color: green;
}
.pause a {
  color: orange;
}
.error a {
  color: red;
}

.dx-datagrid .dx-header-row {
  background: #565656 !important;
  color: #fff;
  font-weight: 500;
}

.dx-treelist .dx-header-row {
  background: #565656 !important;
  color: #fff;
  font-weight: 500;
}

.command-a {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.dx-row-focused {
  .command-a {
    color: #fff;
  }
}
.dx-datagrid-rowsview
  .dx-row-focused.dx-data-row
  .dx-command-edit:not(.dx-focused)
  .dx-link,
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused),
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused) {
  background-color: #7c8185;
  color: #fff;
}
